div, p, input, button, form, span, a, ul,li{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
}

a{
    text-decoration: none;
}



.container{
    
    max-width: 1060px;

    margin: 0 auto;
}

/*Header*/

header .container {
    display: flex;
    padding-top: 90px;
}


.left_menu{
    display: flex;
    padding-bottom: 145px;
}

.logo{
    height: 36px;
    width: 36px;
}

.front_menu{
    margin-left: 40px;
    width: 347px;
    color: #B5B5B5;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.front_menu p {
    display: flex;
    justify-content: space-between;
}

.front_menu a{
    color: #B5B5B5;
}

.right_menu{
    width: 245px;
    margin-left: 430px;
    display: flex;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 105px;
}   

.left_btn{
    width: 112px;
    height: 36px;
    margin-right: 20px;
    color: #F2994A;
    border-width: 1px;
    border-style: solid;
    border-color: #F2994A;
    border-radius: 4px;
    padding: 8px 8px;
}

.right_btn{
    width: 112px;
    height: 36px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 1);
    line-height: 20px;  
    border-radius: 4px;
    padding: 8px 8px;
    background: #F2994A;
}

/*Header*/

.title .container{
    display: flex;
    justify-content: space-between;
}
.left_block {
    
    width: 540px;
    height: 439px;
}

.text {
    width: 531px;
    height: 150px;
    /*font*/
    color: #99EFD0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 20px;
}

.low_text {
    width: 470px;
    height: 45x;
    /*font*/
    color: #8476AA;
    font-family: Gilroy-SemiBold;
    font-size: 18px;
    line-height: 22px;
}

.btns{
    text-align: center;
    margin-top: 40px;
    display: flex;
    margin-bottom: 60px;
}

.first_btn{
    width: 157px;
    height: 46px;
    margin-right: 20px;
    line-height: 20px;  
    border-radius: 4px;
    padding: 8px 8px;
    background: #F2994A;
    padding: 13px 13px;
    margin-right: 20px;
    /*font*/
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}

.second_btn{
    width: 157px;
    height: 46px;
    margin-right: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #F2994A;
    border-radius: 4px;
    padding: 8px 8px;
    padding: 13px 13px;
    /*font*/
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #F2994A;
}

.video{
    height: 80px;
    display: flex;
    margin-bottom: 90px;
}
.joke{
    width: 140px;
    height: 80px;
    background: #361C5D;
    border-radius: 4px;
    text-align: center;
    margin-right: 20px;
}

.play{
    padding: 20px 50px 20px 50px;
}

.video_text{
    width: 380px;
    height: 80px;
}

.top_video_text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8476AA;
    margin-bottom: 6px;
}

.low_video_text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #6D6D78;
}

.mini_footer{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

.frame{
    position: absolute;
}

.choise {
    width: 1060px;
    height: 382px;
    margin-bottom: 150px;
}

.top{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #99EFD0;
    text-align: center;
}

.low{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #8476AA;
    text-align: center;
}

.first_group{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.frst_columm{
    display: flex;
    width: 300px;
    height: 100px;

}

.photo_logo{
    height: 24px;
    width: 24px;
    margin-right: 30px;    
}


.green_text{
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    color: #99EFD0;
}


.grey_text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #8476AA;
    width: 247px;
    height: 66px;
    margin-top: 10px;
}

.second_columm{
    display: flex;
    width: 300px;
    height: 100px;
}



.third_columm{
    display: flex;
    width: 300px;
    height: 100px;
}


.second_group{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.business_section .container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
}

.left_side{
    width: 470px;
    height: 300px;
    margin-top: 100px;
    
}

.business{
    width: 470px;
    height: 100px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #99EFD0;
    margin-bottom: 32px;
}

span{
    color: #F2994A;

}

.low_business{
    width: 470px;
    height: 56px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #8476AA;
    margin-bottom: 45px;

}

.low_btn{
    width: 155px;
    height: 48px;
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
    border-radius: 3px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 0px;
}

.wtf{
    width: 385px;
    height: 570px;      
    position: absolute;
}

.metrics{
    width: 1060px;
    height: 322px;
    margin-bottom: 170px;
}

.simple{
    width: 1060px;
    height: 84px;
    /*шрифт*/
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.33px;
    color: #99EFD0;
    margin-bottom: 32px;
}

.fully{
    margin: 0 auto;
    width: 414px;
    height: 40px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #8476AA;
    margin-bottom: 48px;
}

.columm_low{
    width: 291px;
    height: 120px;
}

.number100{
    margin: 0 auto;
    width: 92px;
    height: 42px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.33px;
    color: #99EFD0;
    margin-bottom: 16px;
}

.universal{
    width: 291px;
    height: 60px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #8476AA;
}

.number43{
    margin: 0 auto;
    width: 157px;
    height: 42px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.33px;
    color: #99EFD0;
    margin-bottom: 16px;
}

.number30{
    margin: 0 auto;
    width: 72px;
    height: 42px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.33px;
    color: #99EFD0;
    margin-bottom: 16px;
}

.numbers{
    display: flex;
    justify-content: space-around;
}


.project{
    width: 770px;
    height: 220px;
    margin: 0 auto;
}

.txt{
    margin: 0px auto;
    width: 770px;
    height: 100px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #99EFD0;
    margin-bottom: 63px;
}

.yellow_btn{
    width: 164px;
    height: 54px;
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
    border-radius: 3px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 0px;
    margin: 0px auto;
    padding: 17px 0px;
}

.bigFrame{
    position: absolute;
}